{% extends 'base.html.twig' %}

{% block title %}
	Ajout membre
{% endblock %}

{% block body %}
	<main class="bg-plant{{ (date() | date('m'))+0 }}">
        <h1 class="neon">Ajouter un membre à l'assemblée</h1>
    </main>
{% endblock %}

