{% extends 'base.html.twig' %}

{% block title %}
	Titre
{% endblock %}

{% block body %}
	<main class="bg-jw{{ (date() | date('m'))+0 }}">
		<h1 class="neon">Titre page</h1>


	</main>
{% endblock %}
