{% extends 'base.html.twig' %}

{% block title %}
	Prédication
{% endblock %}

{% block body %}
	<main class="bg-weather{{ (date() | date('m'))+0 }}">
		<h1 class="neon">Prédication</h1>


	</main>
{% endblock %}

