{% extends 'base.html.twig' %}

{% block title %}
	Réunions weekend
{% endblock %}

{% block body %}
	<main class="bg-mountain{{ (date() | date('m'))+0 }}">
		<h1 class="neon">Réunions weekend</h1>


	</main>
{% endblock %}

