@import "mixins.scss";

main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20em;

  h1 {
    width: 45%;
    margin: 3em 0 1em 0;
    text-align: center;
    @include slideUp;

    @media screen and (max-width: 768px) {
      width: 60%;
      min-width: 700px;
      margin: 5em 0 1em 0;
    }
  }
}

.vcm {
  $large: 1200px;

  padding: 1em;
  background-color: #0000008e;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: white;
  margin-bottom: 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  min-width: 300px;

  @media screen and (max-width: $large) {
    width: 80%;
  }

  section {
    margin-bottom: 3em;
    width: 100%;
  }

  h2 {
    display: flex;
    justify-content: center;
    gap: 15px;

    span {
      font-size: 1.5rem;
    }
  }

  img {
    height: 40px;
    margin-bottom: 2em;
  }

  div {
    margin: 10px;
    display: flex;
    justify-content: space-between;

    div {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}

.jewels {
  background-color: #5a575d;
}

.appl {
  background-color: #be8900;
}

.cl {
  background-color: #7e0024;
}

.jewels,
.appl,
.cl {
  color: white;
  text-transform: uppercase;
  padding: 5px;
}

// .we {

// }

.prgm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  li {
    width: 60vw;
    list-style: none;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: 300ms all ease;

    @media screen and (max-width: 768px) {
      width: 80vw;
    }
  }
}

.board {
  width: 80%;
  max-width: 900px;
  margin: 3em auto;
  height: auto;
  padding: 20px;
  background-color: #ece9e5;
  border-radius: 5px;
  box-shadow: 2px 4px 10px #494949;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 10px;
    text-align: center;
  }
}

.blackBoard {
  width: 60%;
  max-width: 700px;
  margin: 3em auto;
  height: auto;
  padding: 20px;
  background-color: #3b3936;
  border-radius: 5px;
  box-shadow: 2px 4px 10px #494949;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 10px;
    text-align: center;
  }

  table {
    border-collapse: collapse;

    td {
      padding: 5px;
      text-align: center;
      width: 15em;
    }

    thead tr {
      background-color: #696969;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
    }

    tbody {
      tr {
        transition: 300ms all ease;

        &:hover {
          background-color: #5a5252c7;
          transition: 150ms all ease;
        }
      }
    }
  }
}

.board,
.blackBoard {
  @media screen and (max-width: 768px) {
    width: 90%;

    h1,
    h2,
    h3 {
      font-size: 2rem;
    }

    h4,
    h5,
    h6 {
      font-size: 1.5rem;
    }
  }
}

.services {
  width: 50%;
  margin-left: 25%;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and (max-width: 768px) {
    width: 80%;
    margin-left: 10%;
  }

  span:nth-child(1) {
    font-weight: bold;
    margin-bottom: 1em;

    &:before {
      content: "Réunion du ";
    }
  }

  span:nth-child(2) {
    &:before {
      content: "Scène : ";
    }
  }

  span:nth-child(3) {
    &:before {
      content: "Perches : ";
    }
  }

  span:nth-child(4) {
    &:before {
      content: "Audio : ";
    }
  }

  span:nth-child(5) {
    &:before {
      content: "Vidéo : ";
    }
  }

  span:nth-child(6) {
    &:before {
      content: "Zoom : ";
    }
  }

  span:nth-child(7) {
    &:before {
      content: "Accueil : ";
    }
  }
}

.pioneers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
  flex-wrap: wrap;

  section {
    border: 1px solid white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: #ffffffa9;
    backdrop-filter: blur(10px);

    h3 {
      font-size: 1.3rem;
      width: 300px;
      text-align: center;
      margin-bottom: 1em;
    }

    ul {
      margin-bottom: 3em;
    }

    li {
      text-align: center;
      padding: 2px;
      transition: 100ms all ease;

      &:hover {
        transition: 300ms all ease;
        transform: translateY(-4px);
        box-shadow: 0 4px 5px black;
      }
    }

    a {
      text-align: center;

      button {
        font-size: 1.1rem;
        @include btn9;
      }
    }
  }
}

.box {
  background-color: red;
  width: 70%;
  margin-left: 15%;
}

.littleBox {
  display: flex;
  justify-content: center;
  width: 40%;
  margin-left: 30%;
  background-color: #ffffff9c;
  backdrop-filter: blur(5px);

  @media screen and (max-width: 1000px) {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 1em;
    gap: 0;
  }

  span {
    padding: 5px;
    text-align: center;
  }
}

.groups {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.catalogue {
  caret-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 2em;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    max-width: 350px;
    height: 25vw;
    max-height: 400px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    p {
      z-index: 0;
      color: transparent;
      font-family: "House";
      font-weight: 600;
      font-size: 2vw !important;
      width: 100%;
      letter-spacing: 2px;
      text-align: center;
      align-items: center;
      padding: 1em;
      text-decoration: none;
      position: absolute;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    img {
      height: 100%;
      width: auto;
      transition: 800ms all ease;
      position: absolute;
    }

    &:hover {
      p {
        color: white;
        font-family: "Helvetica";
        font-size: 3rem;
      }

      img {
        transform: scale(1.2) rotate(2deg);
        opacity: 0.2;
      }
    }
  }
}

.center-card {
  position: relative;
  height: 80vh;
  text-align: center;

  img {
    z-index: 0;
    border-radius: 20px;
    height: 100%;

    @media screen and (max-width: 768px) {
      width: 90%;
      height: auto;
    }
  }

  div {
    z-index: 1;
    position: absolute;
    top: 1.5em;
    right: 1.5em;

    a {
      padding: 8px 20px;
      background-color: #3e363699;
      backdrop-filter: blur(8px);
      border-radius: 10px;
      font-style: italic;
      color: white;
    }
  }
}

.nav {
  background-color: #380738cb;
  color: white;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  span,
  a {
    font-size: 1rem !important;
    cursor: pointer;
  }

  a {
    margin: 5px 0;

    &:hover {
      color: white;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 150ms all ease;

    &:hover > :not(:hover) {
      opacity: 0.4;
    }

    li {
      text-align: center;
      font-size: 1.5rem !important;
      color: white;
      transition: 300ms all ease;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
